<div class="coach" data="1a">
  <div class="series">
    <a class="seat back" seat="237"><span class="wrap"><span class="base"><i><b>237</b></i></span></span></a>
    <a class="seat back" seat="236"><span class="wrap"><span class="base"><i><b>236</b></i></span></span></a>
    <div class="empty"></div>
    <a class="seat back" seat="235"><span class="wrap"><span class="base"><i><b>235</b></i></span></span></a>
    <a class="seat back" seat="234"><span class="wrap"><span class="base"><i><b>234</b></i></span></span></a>
  </div>
  <div class="series">
    <div class="empty y05 desk x2 l"><span>Stolek</span></div>
    <div class="empty y05 title ext"><span>Economy</span></div>
    <div class="empty y05 desk x2 r"><span>Stolek</span></div>
  </div>
  <div class="series">
    <a class="seat" seat="233"><span class="wrap"><span class="base"><i><b>233</b></i></span></span></a>
    <a class="seat" seat="232"><span class="wrap"><span class="base"><i><b>232</b></i></span></span></a>
    <div class="empty"></div>
    <a class="seat" seat="231"><span class="wrap"><span class="base"><i><b>231</b></i></span></span></a>
    <a class="seat" seat="230"><span class="wrap"><span class="base"><i><b>230</b></i></span></span></a>
  </div>
  <div class="series">
    <a class="seat back" seat="237"><span class="wrap"><span class="base"><i><b>237</b></i></span></span></a>
    <a class="seat back" seat="236"><span class="wrap"><span class="base"><i><b>236</b></i></span></span></a>
    <div class="empty"></div>
    <a class="seat back" seat="235"><span class="wrap"><span class="base"><i><b>235</b></i></span></span></a>
    <a class="seat back" seat="234"><span class="wrap"><span class="base"><i><b>234</b></i></span></span></a>
  </div>
  <div class="series">
    <a class="seat back" seat="233"><span class="wrap"><span class="base"><i><b>233</b></i></span></span></a>
    <a class="seat back" seat="232"><span class="wrap"><span class="base"><i><b>232</b></i></span></span></a>
    <div class="empty"></div>
    <a class="seat back" seat="231"><span class="wrap"><span class="base"><i><b>231</b></i></span></span></a>
    <a class="seat back" seat="230"><span class="wrap"><span class="base"><i><b>230</b></i></span></span></a>
  </div>
  <div class="series">
    <div class="empty place big baby"><span><em class="icon40"></em></span></div>
    <div class="empty big"></div>
    <div class="empty big"></div>
    <div class="empty place big baby"><span><em class="icon40"></em></span></div>
  </div>
  <div class="empty x5 y2 entrance"><span></span>
  </div>
  <div class="series">
    <a class="seat back" seat="221"><span class="wrap"><span class="base"><i><b>221</b></i></span></span></a>
    <a class="seat back" seat="220"><span class="wrap"><span class="base"><i><b>220</b></i></span></span></a>
    <div class="empty"></div>
    <a class="seat back" seat="219"><span class="wrap"><span class="base"><i><b>219</b></i></span></span></a>
    <a class="seat back" seat="218"><span class="wrap"><span class="base"><i><b>218</b></i></span></span></a>
  </div>
  <div class="series">
    <a class="seat back" seat="217"><span class="wrap"><span class="base"><i><b>217</b></i></span></span></a>
    <a class="seat back" seat="216"><span class="wrap"><span class="base"><i><b>216</b></i></span></span></a>
    <div class="empty"></div>
    <a class="seat back" seat="215"><span class="wrap"><span class="base"><i><b>215</b></i></span></span></a>
    <a class="seat back" seat="214"><span class="wrap"><span class="base"><i><b>214</b></i></span></span></a>
  </div>
  <div class="series">
    <a class="seat back" seat="213"><span class="wrap"><span class="base"><i><b>213</b></i></span></span></a>
    <a class="seat back" seat="212"><span class="wrap"><span class="base"><i><b>212</b></i></span></span></a>
    <div class="empty"></div>
    <a class="seat back" seat="211"><span class="wrap"><span class="base"><i><b>211</b></i></span></span></a>
    <a class="seat back" seat="210"><span class="wrap"><span class="base"><i><b>210</b></i></span></span></a>
  </div>
  <div class="series">
    <div class="empty y05 desk x2 l"><span>Stolek</span></div>
    <div class="empty y05 title ext"><span>Economy</span></div>
    <div class="empty y05 desk x2 r"><span>Stolek</span></div>
  </div>
  <div class="series">
    <a class="seat" seat="209"><span class="wrap"><span class="base"><i><b>209</b></i></span></span></a>
    <a class="seat" seat="208"><span class="wrap"><span class="base"><i><b>208</b></i></span></span></a>
    <div class="empty"></div>
    <a class="seat" seat="207"><span class="wrap"><span class="base"><i><b>207</b></i></span></span></a>
    <a class="seat" seat="206"><span class="wrap"><span class="base"><i><b>206</b></i></span></span></a>
  </div>
  <div class="series">
    <a class="seat back" seat="205"><span class="wrap"><span class="base"><i><b>205</b></i></span></span></a>
    <a class="seat back" seat="204"><span class="wrap"><span class="base"><i><b>204</b></i></span></span></a>
    <div class="empty"></div>
    <a class="seat back" seat="203"><span class="wrap"><span class="base"><i><b>203</b></i></span></span></a>
    <a class="seat back" seat="202"><span class="wrap"><span class="base"><i><b>202</b></i></span></span></a>
  </div>
  <div class="series">
    <div class="empty y05 desk x2 l"><span>Stolek</span></div>
    <div class="empty y05 title ext"><span>Economy</span></div>
    <div class="empty y05 desk x2 r"><span>Stolek</span></div>
  </div>
  <div class="series">
    <a class="seat" seat="201"><span class="wrap"><span class="base"><i><b>201</b></i></span></span></a>
    <a class="seat" seat="200"><span class="wrap"><span class="base"><i><b>200</b></i></span></span></a>
    <div class="empty"></div>
    <a class="seat" seat="199"><span class="wrap"><span class="base"><i><b>199</b></i></span></span></a>
    <a class="seat" seat="198"><span class="wrap"><span class="base"><i><b>198</b></i></span></span></a>
  </div>
  <div class="series">
    <a class="seat" seat="197"><span class="wrap"><span class="base"><i><b>197</b></i></span></span></a>
    <a class="seat" seat="196"><span class="wrap"><span class="base"><i><b>196</b></i></span></span></a>
    <div class="empty"></div>
    <a class="seat" seat="195"><span class="wrap"><span class="base"><i><b>195</b></i></span></span></a>
    <a class="seat" seat="194"><span class="wrap"><span class="base"><i><b>194</b></i></span></span></a>
  </div>
  <div class="series">
    <a class="seat" seat="193"><span class="wrap"><span class="base"><i><b>193</b></i></span></span></a>
    <a class="seat" seat="192"><span class="wrap"><span class="base"><i><b>192</b></i></span></span></a>
    <div class="empty"></div>
    <a class="seat" seat="191"><span class="wrap"><span class="base"><i><b>191</b></i></span></span></a>
    <a class="seat" seat="190"><span class="wrap"><span class="base"><i><b>190</b></i></span></span></a>
  </div>
  <div class="series">
    <div class="empty x2 y3 cube toilet l b"><span><em class="icon60"></em><i>Toaleta</i></span></div>
    <div class="empty y3"></div>
    <div class="empty x2 y3 cube food r b"><span><em class="icon60"></em><i>Občerstvení</i></span></div>
  </div>
  <div class="clearfix"></div>
  <div class="empty x5 y1 bottom entrance"><span></span></div>
</div>