<div class="coach" data="1b">
  <div class="series">
    <div class="empty big"></div>
    <div class="empty big title"><span>Premium</span></div>
    <div class="empty big"></div>
    <a class="seat big " seat="3"><span class="wrap"><span class="base"><i><b>3</b></i></span></span></a>
  </div>
  <div class="series">
    <a class="seat big " seat="1"><span class="wrap"><span class="base"><i><b>1</b></i></span></span></a>
    <a class="seat big " seat="2"><span class="wrap"><span class="base"><i><b>2</b></i></span></span></a>
    <div class="empty big"></div>
    <div class="empty big"></div>
  </div>
  <div class="series">
    <div class="empty big"></div>
    <div class="empty big title"><span>Premium</span></div>
    <div class="empty big"></div>
    <a class="seat big " seat="6"><span class="wrap"><span class="base"><i><b>6</b></i></span></span></a>
  </div>
  <div class="series">
    <a class="seat big " seat="4"><span class="wrap"><span class="base"><i><b>4</b></i></span></span></a>
    <a class="seat big " seat="5"><span class="wrap"><span class="base"><i><b>5</b></i></span></span></a>
    <div class="empty big"></div>
    <div class="empty big"></div>
  </div>
  <div class="series">
    <div class="empty big"></div>
    <div class="empty big"></div>
    <div class="empty big"></div>
    <div class="empty big"></div>
  </div>
  <div class="empty x5 y2 entrance"><span></span></div>
  <div class="series">
    <a class="seat big back" seat="7"><span class="wrap"><span class="base"><i><b>7</b></i></span></span></a>
    <a class="seat big back" seat="8"><span class="wrap"><span class="base"><i><b>8</b></i></span></span></a>
    <div class="empty big"></div>
    <div class="empty big"></div>
  </div>
  <div class="series">
    <a class="seat big back" seat="9"><span class="wrap"><span class="base"><i><b>9</b></i></span></span></a>
    <a class="seat big back" seat="10"><span class="wrap"><span class="base"><i><b>10</b></i></span></span></a>
    <div class="empty big title"><span>Business</span></div>
    <a class="seat big back" seat="11"><span class="wrap"><span class="base"><i><b>11</b></i></span></span></a>
  </div>
  <div class="series">
    <a class="seat big back" seat="12"><span class="wrap"><span class="base"><i><b>12</b></i></span></span></a>
    <a class="seat big back" seat="13"><span class="wrap"><span class="base"><i><b>13</b></i></span></span></a>
    <div class="empty big"></div>
    <a class="seat big back" seat="14"><span class="wrap"><span class="base"><i><b>14</b></i></span></span></a>
  </div>
  <div class="series">
    <a class="seat big back" seat="15"><span class="wrap"><span class="base"><i><b>15</b></i></span></span></a>
    <a class="seat big back" seat="16"><span class="wrap"><span class="base"><i><b>16</b></i></span></span></a>
    <div class="empty big"></div>
    <a class="seat big back" seat="17"><span class="wrap"><span class="base"><i><b>17</b></i></span></span></a>
  </div>
  <div class="series">
    <div class="empty big y05 desk x2 l"><span>Stolek</span></div>
    <div class="empty big ext y05 title"><span>Business</span></div>
    <div class="empty big y05 desk r"><span>Stolek</span></div>
  </div>
  <div class="series">
    <a class="seat big " seat="18"><span class="wrap"><span class="base"><i><b>18</b></i></span></span></a>
    <a class="seat big " seat="19"><span class="wrap"><span class="base"><i><b>19</b></i></span></span></a>
    <div class="empty big"></div>
    <a class="seat big " seat="20"><span class="wrap"><span class="base"><i><b>20</b></i></span></span></a>
  </div>
  <div class="series">
    <a class="seat big " seat="21"><span class="wrap"><span class="base"><i><b>21</b></i></span></span></a>
    <a class="seat big " seat="22"><span class="wrap"><span class="base"><i><b>22</b></i></span></span></a>
    <div class="empty big "></div>
    <a class="seat big " seat="23"><span class="wrap"><span class="base"><i><b>23</b></i></span></span></a>
  </div>
  <div class="series">
    <a class="seat big " seat="24"><span class="wrap"><span class="base"><i><b>24</b></i></span></span></a>
    <div class="empty big x2 title"><span>Business</span></div>
    <a class="seat big " seat="25"><span class="wrap"><span class="base"><i><b>25</b></i></span></span></a>
  </div>
  <div class="series">
    <div class="empty x2 y3 cube toilet l b"><span><em class="icon60"></em><i>Toaleta</i></span></div>
    <div class="empty y3"></div>
    <div class="empty x2 y3 cube food r b"><span><em class="icon60"></em><i>Občerstvení</i></span></div>
  </div>
  <div class="clearfix"></div>
  <div class="empty x5 y1 bottom entrance"><span></span></div>
</div><!-- /coach -->