<div class="coach" data="2a">


  <div class="empty x5 y1 entrance top"><span></span></div>
  <div class="series">


    <a class="seat back" seat="136"><span class="wrap"><span class="base"><i><b>136</b></i></span></span></a>
    <a class="seat back" seat="137"><span class="wrap"><span class="base"><i><b>137</b></i></span></span></a>

    <div class="empty"></div>
    <a class="seat back" seat="138"><span class="wrap"><span class="base"><i><b>138</b></i></span></span></a><a
          class="seat back" seat="139"><span class="wrap"><span class="base"><i><b>139</b></i></span></span></a></div>
  <div class="series">


    <div class="empty y05 desk x2 l"><span>Stolek</span></div>
    <div class="empty y05 title ext"><span>Economy</span></div>
    <div class="empty y05 desk x2 r"><span>Stolek</span></div>
  </div>
  <div class="series">


    <a class="seat" seat="140"><span class="wrap"><span class="base"><i><b>140</b></i></span></span></a>
    <a class="seat" seat="141"><span class="wrap"><span class="base"><i><b>141</b></i></span></span></a>

    <div class="empty"></div>
    <a class="seat" seat="142"><span class="wrap"><span class="base"><i><b>142</b></i></span></span></a><a class="seat"
                                                                                                           seat="143"><span
          class="wrap"><span class="base"><i><b>143</b></i></span></span></a></div>
  <div class="series">


    <a class="seat back" seat="144"><span class="wrap"><span class="base"><i><b>144</b></i></span></span></a>
    <a class="seat back" seat="145"><span class="wrap"><span class="base"><i><b>145</b></i></span></span></a>

    <div class="empty"></div>
    <a class="seat back" seat="146"><span class="wrap"><span class="base"><i><b>146</b></i></span></span></a><a
          class="seat back" seat="147"><span class="wrap"><span class="base"><i><b>147</b></i></span></span></a></div>
  <div class="series">


    <div class="empty place big baby"><span><em class="icon40"></em></span></div>
    <div class="empty big"></div>
    <div class="empty big"></div>
    <div class="empty place big baby"><span><em class="icon40"></em></span></div>
  </div>
  <div class="empty x5 y2 entrance"><span></span>
  </div>
  <div class="series">


    <div class="empty place big baggage"><span><em class="icon40"></em></span></div>
    <div class="empty big"></div>
    <div class="empty big"></div>
    <div class="empty place big baggage"><span><em class="icon40"></em></span></div>
  </div>
  <div class="series">


    <a class="seat back" seat="150"><span class="wrap"><span class="base"><i><b>150</b></i></span></span></a>
    <a class="seat back" seat="151"><span class="wrap"><span class="base"><i><b>151</b></i></span></span></a>

    <div class="empty"></div>
    <a class="seat back" seat="152"><span class="wrap"><span class="base"><i><b>152</b></i></span></span></a><a
          class="seat back" seat="153"><span class="wrap"><span class="base"><i><b>153</b></i></span></span></a></div>
  <div class="series">


    <a class="seat back" seat="154"><span class="wrap"><span class="base"><i><b>154</b></i></span></span></a>
    <a class="seat back" seat="155"><span class="wrap"><span class="base"><i><b>155</b></i></span></span></a>

    <div class="empty"></div>
    <a class="seat back" seat="156"><span class="wrap"><span class="base"><i><b>156</b></i></span></span></a><a
          class="seat back" seat="157"><span class="wrap"><span class="base"><i><b>157</b></i></span></span></a></div>
  <div class="series">


    <a class="seat back" seat="158"><span class="wrap"><span class="base"><i><b>158</b></i></span></span></a>
    <a class="seat back" seat="159"><span class="wrap"><span class="base"><i><b>159</b></i></span></span></a>

    <div class="empty"></div>
    <a class="seat back" seat="160"><span class="wrap"><span class="base"><i><b>160</b></i></span></span></a><a
          class="seat back" seat="161"><span class="wrap"><span class="base"><i><b>161</b></i></span></span></a></div>
  <div class="series">


    <a class="seat back" seat="162"><span class="wrap"><span class="base"><i><b>162</b></i></span></span></a>
    <a class="seat back" seat="163"><span class="wrap"><span class="base"><i><b>163</b></i></span></span></a>

    <div class="empty"></div>
    <a class="seat back" seat="164"><span class="wrap"><span class="base"><i><b>164</b></i></span></span></a><a
          class="seat back" seat="165"><span class="wrap"><span class="base"><i><b>165</b></i></span></span></a></div>
  <div class="series">


    <a class="seat back" seat="166"><span class="wrap"><span class="base"><i><b>166</b></i></span></span></a>
    <a class="seat back" seat="167"><span class="wrap"><span class="base"><i><b>167</b></i></span></span></a>

    <div class="empty"></div>
    <a class="seat back" seat="168"><span class="wrap"><span class="base"><i><b>168</b></i></span></span></a><a
          class="seat back" seat="169"><span class="wrap"><span class="base"><i><b>169</b></i></span></span></a></div>
  <div class="series">


    <div class="empty y05 desk x2 l"><span>Stolek</span></div>
    <div class="empty y05 title ext"><span>Economy</span></div>
    <div class="empty y05 desk x2 r"><span>Stolek</span></div>
  </div>
  <div class="series">


    <a class="seat" seat="170"><span class="wrap"><span class="base"><i><b>170</b></i></span></span></a>
    <a class="seat" seat="171"><span class="wrap"><span class="base"><i><b>171</b></i></span></span></a>

    <div class="empty"></div>
    <a class="seat" seat="172"><span class="wrap"><span class="base"><i><b>172</b></i></span></span></a><a class="seat"
                                                                                                           seat="173"><span
          class="wrap"><span class="base"><i><b>173</b></i></span></span></a></div>
  <div class="series">


    <a class="seat" seat="174"><span class="wrap"><span class="base"><i><b>174</b></i></span></span></a>
    <a class="seat" seat="175"><span class="wrap"><span class="base"><i><b>175</b></i></span></span></a>

    <div class="empty"></div>
    <a class="seat" seat="176"><span class="wrap"><span class="base"><i><b>176</b></i></span></span></a><a class="seat"
                                                                                                           seat="177"><span
          class="wrap"><span class="base"><i><b>177</b></i></span></span></a></div>
  <div class="series">


    <a class="seat" seat="178"><span class="wrap"><span class="base"><i><b>178</b></i></span></span></a>
    <a class="seat" seat="179"><span class="wrap"><span class="base"><i><b>179</b></i></span></span></a>

    <div class="empty"></div>
    <a class="seat" seat="180"><span class="wrap"><span class="base"><i><b>180</b></i></span></span></a><a class="seat"
                                                                                                           seat="181"><span
          class="wrap"><span class="base"><i><b>181</b></i></span></span></a></div>
  <div class="series">


    <a class="seat back" seat="182"><span class="wrap"><span class="base"><i><b>182</b></i></span></span></a>
    <a class="seat back" seat="183"><span class="wrap"><span class="base"><i><b>183</b></i></span></span></a>

    <div class="empty"></div>
    <a class="seat back" seat="184"><span class="wrap"><span class="base"><i><b>184</b></i></span></span></a><a
          class="seat back" seat="185"><span class="wrap"><span class="base"><i><b>185</b></i></span></span></a></div>
  <div class="series">


    <div class="empty y05 desk x2 l"><span>Stolek</span></div>
    <div class="empty y05 title ext"><span>Economy</span></div>
    <div class="empty y05 desk x2 r"><span>Stolek</span></div>
  </div>
  <div class="series">


    <a class="seat" seat="186"><span class="wrap"><span class="base"><i><b>186</b></i></span></span></a>
    <a class="seat" seat="187"><span class="wrap"><span class="base"><i><b>187</b></i></span></span></a>

    <div class="empty"></div>
    <a class="seat" seat="188"><span class="wrap"><span class="base"><i><b>188</b></i></span></span></a><a class="seat"
                                                                                                           seat="189"><span
          class="wrap"><span class="base"><i><b>189</b></i></span></span></a></div>
  <div class="clearfix"></div>
</div>