<div class="coach" data="5a">
  <div class="empty x5 y1 top entrance"><span></span>
  </div>
  <div class="series">
    <div class="empty x2 y3 cube food l t"><span><em class="icon60"></em><i>Občerstvení</i></span></div>
    <div class="empty y3"></div>
    <div class="empty x2 y3 cube toilet r t"><span><em class="icon60"></em><i>Toaleta</i></span></div>
  </div>
  <div class="series">
    <a class="seat big back" seat="25"><span class="wrap"><span class="base"><i><b>25</b></i></span></span></a>
    <div class="empty big x2 title"><span>Business</span></div>
    <a class="seat big back" seat="24"><span class="wrap"><span class="base"><i><b>24</b></i></span></span></a>
  </div>
  <div class="series">
    <a class="seat big back" seat="23"><span class="wrap"><span class="base"><i><b>23</i></b></span></span></a>
    <div class="empty big"></div>
    <a class="seat big back" seat="22"><span class="wrap"><span class="base"><i><b>22</i></b></span></span></a>
    <a class="seat big back" seat="21"><span class="wrap"><span class="base"><i><b>21</i></b></span></span></a>
  </div>
  <div class="series">
    <a class="seat big back" seat="21"><span class="wrap"><span class="base"><i><b>20</i></b></span></span></a>
    <div class="empty big"></div>
    <a class="seat big back" seat="20"><span class="wrap"><span class="base"><i><b>19</i></b></span></span></a>
    <a class="seat big back" seat="19"><span class="wrap"><span class="base"><i><b>18</i></b></span></span></a>
  </div>
  <div class="series">
    <div class="empty big y05 desk l"><span>Stolek</span></div>
    <div class="empty big ext y05 title"><span>Business</span></div>
    <div class="empty big y05 x2 desk r"><span>Stolek</span></div>
  </div>
  <div class="series">
    <a class="seat big" seat="17"><span class="wrap"><span class="base"><i><b>17</i></b></span></span></a>
    <div class="empty big"></div>
    <a class="seat big" seat="16"><span class="wrap"><span class="base"><i><b>16</i></b></span></span></a>
    <a class="seat big" seat="15"><span class="wrap"><span class="base"><i><b>15</i></b></span></span></a>
  </div>
  <div class="series">
    <a class="seat big" seat="14"><span class="wrap"><span class="base"><i><b>14</i></b></span></span></a>
    <div class="empty big"></div>
    <a class="seat big" seat="13"><span class="wrap"><span class="base"><i><b>13</i></b></span></span></a>
    <a class="seat big" seat="12"><span class="wrap"><span class="base"><i><b>12</i></b></span></span></a>
  </div>
  <div class="series">
    <a class="seat big" seat="11"><span class="wrap"><span class="base"><i><b>11</i></b></span></span></a>
    <div class="empty big title"><span>Business</span></div>
    <a class="seat big" seat="10"><span class="wrap"><span class="base"><i><b>10</i></b></span></span></a>
    <a class="seat big" seat="9"><span class="wrap"><span class="base"><i><b>9</i></b></span></span></a>
  </div>
  <div class="series">
    <div class="empty place big baggage"><span><em class="icon40"></em></span></div>
    <div class="empty big"></div>
    <a class="seat big" seat="8"><span class="wrap"><span class="base"><i><b>8</i></b></span></span></a>
    <a class="seat big" seat="7"><span class="wrap"><span class="base"><i><b>7</i></b></span></span></a>
  </div>
  <div class="empty x5 y2 entrance"><span></span>
  </div>
  <div class="series">
    <div class="empty place big baggage"><span><em class="icon40"></em></span></div>
    <div class="empty big"></div>
    <div class="empty big"></div>
    <div class="empty big"></div>
  </div>
  <div class="series">
    <div class="empty big"></div>
    <div class="empty big"></div>
    <a class="seat big back" seat="5"><span class="wrap"><span class="base"><i><b>5</b></i></span></span></a>
    <a class="seat big back" seat="4"><span class="wrap"><span class="base"><i><b>4</b></i></span></span></a>
  </div>
  <div class="series">
    <a class="seat big back" seat="6"><span class="wrap"><span class="base"><i><b>6</b></i></span></span></a>
    <div class="empty big"></div>
    <div class="empty big title"><span>Premium</span></div>
    <div class="empty big"></div>
  </div>
  <div class="series">
    <div class="empty big"></div>
    <div class="empty big"></div>
    <a class="seat big back" seat="2"><span class="wrap"><span class="base"><i><b>2</b></i></span></span></a>
    <a class="seat big back" seat="1"><span class="wrap"><span class="base"><i><b>1</b></i></span></span></a>
  </div>
  <div class="series">
    <a class="seat big back" seat="3"><span class="wrap"><span class="base"><i><b>3</b></i></span></span></a>
    <div class="empty big"></div>
    <div class="empty big title"><span>Premium</span></div>
    <div class="empty big"></div>
  </div>
  <div class="series">
    <div class="empty big"></div>
    <div class="empty big"></div>
    <div class="empty big"></div>
    <div class="empty big"></div>
  </div>
  <div class="clearfix"></div>
</div>